body{
    background: #ffff
    ;
}
.configCard{
    max-width: 540px;
    margin-top: 150px;
}

.headerColor{
    background: #4bc540;
    padding: 0;
    color:aliceblue ;
}

.underlineA{
    color: blue; 
    text-decoration: underline;
    cursor: pointer; 
}

.btnLogin{
    background: #41ff5a;
    color:aliceblue ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
