<div class="header">
    <div class="logo"><a style="cursor: pointer;" (click)="toHome()">DIAGRAMADOR</a></div>

    <div class="user">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle user-image"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
               CARLOS
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="toProfile();">Perfil</a></li>
              <li><a class="dropdown-item  logOut" (click)="logout();">Log Out</a></li>
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </div>
    </div>
   
  </div>