
<div >
    <div class="d-flex justify-content-center mt-4">
        <h1 class="title">{{this.roomName}} </h1>

    </div>
    <div class="d-flex justify-content-start" >
        <button style="margin-left: 15px;" class="btn btn-success"><small>Guardar cambios</small></button>
        <button style="margin-left: 15px;" class="btn btn-primary" (click)="closeRoom()"><small>Cerrar sala</small></button>

    </div>
    <div class="row">
        <div class="col-8">
            <app-draw></app-draw>
        </div>
        <div class="col-4 mt-2">
            <table class="table table-bordered">
                <thead class="table-light">
                  <tr class="table-dark text-center">
                    <th scope="col-6">Colaborador</th>
                    <th scope="col-3">Acciones</th>
                </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let register of registers"> -->
                    <tr *ngFor="let user of arrayUser">
                        <td class="text-center">{{user}} </td>
                        <td> 
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary space" >Permisos</button>
                                <form >
                                    <button class="btn btn-danger space" type="submit">Eliminar</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                        <!-- </tr> -->
                </tbody>
              </table>
        </div>
    </div>
</div>
