<div class="row">
    <div class="col-2 mt-2" style="padding-left: 20px;">
        <div class="mt-2">
            <div class="row" style="border: 1px; border-style: groove;">
                <div class="col-8">
                    <img  src='assets/component/actor.png' alt="" style="width: 40px; height: 40px; padding-right: 10px;">
                    <small>Actor </small>
                </div>
                <div class="col">
                    <!-- <button class="add-button mt-2" (click)="addActor()">+</button> -->
                    <button class="add-button mt-2" (click)="messageObject()">+</button>

                </div>
            </div>

            <div class="row" style="border: 1px; border-style: groove;">
                <div class="col-8">
                    <img  src='assets/component/boundary.png' alt="" style="width: 40px; height: 40px; padding-right: 10px;">
                    <small>Boundary </small>
                </div>
                <div class="col">
                    <button class="add-button mt-2" (click)="addBoundary()">+</button>
                </div>

            </div>

            <div class="row" style="border: 1px; border-style: groove;">
                <div class="col-8">
                    <img  src='assets/component/control.png' alt="" style="width: 40px; height: 40px; padding-right: 10px;">
                    <small>Control </small>
                </div>
                <div class="col">
                    <button class="add-button mt-2" (click)="addControl()">+</button>
                </div>

            </div>

            <div class="row" style="border: 1px; border-style: groove;">
                <div class="col-8">
                    <img  src='assets/component/entidad.png' alt="" style="width: 40px; height: 40px; padding-right: 10px;">
                    <small>Entidad </small>
                </div>
                <div class="col">
                    <button class="add-button mt-2" (click)="addEntity()">+</button>
                </div>

            </div>

            <div class="row" style="border: 1px; border-style: groove;">
                <div class="col-8">
                    <img  src='assets/component/lifeline.png' alt="" style="width: 40px; height: 40px; padding-right: 10px;">
                    <small>Objeto </small>
                </div>
                <div class="col">
                    <button class="add-button mt-2" (click)="addObjectRec()">+</button>
                </div>

            </div>


        </div>
        <strong class="mt-2">Mensaje</strong>
        <div class="mt-2">
            <div class="row"  style="border: 1px; border-style: groove;">
                <div class="col-8">
                    <img  src="assets/components/respuesta mensaje asincronico.png" alt="" style="width: 40px; height: 40px; padding-right: 10px;">
                    <small>Respuesta</small>
                </div>
                <div class="col">
                    <button class="add-button mt-2" (click)="startDrawing()">+</button>
                </div>

            </div>
            <div class="row"  style="border: 1px; border-style: groove;">
                <div class="col-8">
                    <img  src="assets/components/letra.png"  style="width: 40px; height: 25px; padding-right: 10px; padding-top: 10px;">
                    <small style="margin-top: 20px;">Texto</small>
                </div>
                <div class="col">
                    <button class="add-button mt-2" (click)="addToChartText('mensaje 1');">+</button>
                </div>
            </div>


        </div>
        <br>
        <strong >Otros</strong>
        <div class="row"  style="border: 1px; border-style: groove;">
            <div class="col-8">
                <img  src="assets/component/fragmento.png" alt="" style="width: 50px; height: 35px; padding-right: 10px;">
                <small>Interacción</small>
            </div>
            <div class="col">
                <button class="add-button mt-2" (click)="addRectFrag();" style="padding-bottom: 5px;">+</button>
            </div>

        </div>

        <div class="row"  style="border: 1px; border-style: groove;">
            <div class="col-8">
                <img  src="assets/component/chartlife.png" alt="" style="width: 50px; height: 35px; padding-right: 10px;">
                <small>Activación</small>
            </div>
            <div class="col">
                <button class="add-button mt-2" (click)="addChartActivation();" style="padding-bottom: 5px;">+</button>
            </div>

        </div>

    </div>
      
      <div class="col-7 mt-2">
        <canvas  #diagramCanvas  width="800" height="600" style="border: 1px; border-color: black; border: solid;"></canvas>
      </div>
    
</div>