.add-button {
    background-color: rgb(37, 131, 207);; /* Color de fondo */
    border: 1px; /* Sin borde */
    color: white; /* Color del texto */
    padding: 5px 5px; /* Espacio interior (ajústalo según necesites) */
    font-size: 15px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor tipo mano */
    border-radius: 10%; /* Botón circular */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  
  .add-button:hover {
    background-color: #cfc357; /* Color de fondo al pasar el cursor */
  }
  
  .add-button:focus {
    outline: none; /* Quita el contorno al enfocar */
  }